@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-opensans);
}

h1, h2, h3, h4, h5, h6, .headings {
  font-family: var(--font-montserrat);
}